/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400 

- Line heights
Default: 1 
SMALL: 1.7
LARGE: 1.05

--- 02 COLORS

- Primary: #fdf2e9
- Tints: #fae5d3
- Shades: #cf711f
- Accents:
- Greys
  #555
  #333

--- 05 SHADOWS

--- 06 BORDER-RADIUS
    8px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
/********************************/
/* GENERAL STYLE */
/********************************/

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "Rubik",sans-serif;
    color: #555;
    line-height: 1;
    font-weight: 400;
}
.container{
  max-width: 120rem; 
  padding: 0 3.2rem; 
  margin: 0 auto;
}
.grid{
    display: grid;
    row-gap: 9.6rem;
    column-gap: 6.4rem;
    margin-bottom: 9.6rem;
}
.grid-3-cols {
  grid-template-columns: repeat(3,1fr);
}
/*********************************/
/* HEADER */
/**********************************/
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 9.6rem;
    background-color: #fdf2e9;
    padding: 3.2rem  4.8rem;
}
.logo{
    height: 2.2rem;
}
.main-nav-links{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3.2rem;
    font-size: 1.8rem;
    
}
.main-nav-link:link,
.main-nav-link:visited{
    text-decoration: none;
    color: #333;
    font-weight: 600;
    display: inline-block;
    transition: all 0.3s;

}
.btn-cta.btn-nav-link:link,
.btn-cta.btn-nav-link:visited{
    background-color:#e67e22;
    padding: 1.2rem 2.4rem;
    border-radius: 8px;
    color: #fff;
    transition: all 0.3s;
}
.btn-cta.btn-nav-link:hover,
.btn-cta.btn-nav-link:active{
    background-color: #cf711f;
}
.main-nav-link:hover,
.main-nav-link:active{
    color: #e67e22;
}
/*********************************/
/* HERO SECTION */
/*********************************/
.section-hero{
    padding: 9.6rem;
    background-color: #fdf2e9;
}
.hero{
    max-width: 130rem;
    margin: 0 auto;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
}
.heading-primary{
    color: #333;
    line-height: 1.05;
    font-size: 5.2rem;
    letter-spacing: -0.5px;
    margin-bottom: 3.2rem;
}
.heading-description{
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 3.2rem;
}
.hero-img{
    width: 100%;
}
.btn:link,
.btn:visited{
    font-weight: 600;
    text-decoration: none;
    font-size: 2rem;
    padding: 1.6rem 3.2rem;
    border-radius: 0.8rem  !important;
    display: inline-block;
}
.btn-primary:link,
.btn-primary:visited{
    background-color: #e67e22;
    color: #fff;
    margin-right: 1.2rem;
    transition: all 0.3s;
}
.btn-secondary:link,
.btn-secondary:visited{
    background-color: white;
    color: #333;
}
.btn-primary:hover,
.btn-primary:active{
   background-color: #cf711f;
}
.btn-secondary:hover,
.btn-secondary:active{
    background-color: #fdf2e9;
    box-shadow: inset 0 0 0 3px #fff;
}
.delivered-meals{
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-top: 8rem;
}
.customer-img img{
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 3px solid #fae5d3;
}
.customer-img img:last-child{
    margin-right: 0;
}
.customer-text{
    font-size: 1.8rem;
    color: #333;
}
.customer-text span{
    color: #cf711f;
    font-weight: 600;
}
/***********************/
/* SECTION FEATURED */
/***********************/
.section-feartured{
    margin-top: 4.8rem;
}
.heading-fertured-in{
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #999;
    margin-bottom: 3.2rem;
}
.logos{
    display: flex;
    justify-content: space-around;
}
.logos img{
    height: 3.2rem;
    filter: brightness(0);
    opacity: 50%;
}





/************************/
/* STEP SECTION */
/************************/
.grid-2-cols{
    grid-template-columns: 1fr 1fr;
}
.step-img{
    width: 35%;
}
.step-box{
    align-items: center;
}
.step-img-box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.step-img-box::before{
    width: 60%;
    background-color: #fdf2e9;
    padding-top: 60%;
    
    z-index: -2;
}
.step-img-box::before,
.step-img-box::after{
    content: "";
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}

.step-img-box::after{
    width: 45%;
    background-color: #fae5d3;
    padding-top: 45%;
    z-index: -1;
}
.subheading{
    display: inline-block;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    font-weight: 600;
    letter-spacing: 0.75px;
    color: #cf711f;
}

.heading-secondary{
    font-size: 4.4rem;
    line-height: 1.5;
    margin-bottom: 9.6rem;

}
.section-how{
    padding: 9.6rem  0;
}
.grid-center-v{
    align-items: center;
}
.step-number{
    display: inline-block;
    font-size: 8.6rem;
    color: #ddd;
    margin-bottom: 1.2rem;
    font-weight: 600;

}
.heading-tertiary {
    font-size: 3rem;
    line-height: 1.5;
    margin-bottom: 3.2rem;
}

.step-description{
    font-size: 1.8rem;
    line-height: 1.6;
}

/*********************/
/* SECTION MEALS */
/*********************/
.subheading-center.subheading{
    display: block;
    text-align: center;
}
.heading-secondary-center{
    text-align: center;
}

.meal{
    box-shadow: 0 2px 1.2rem rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
    transition: all 0.6s;
   
}
.meal:hover{
    transform: translateY(-1.2rem);
    box-shadow: 0 3.2rem 6.4re rgba(0, 0, 0, 0.6) ;
}
.meal img{
    width: 100%;
}
.meal-title{
    font-size: 2.4rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 3.2rem;
    margin-top: 1.6rem;
}
.meal-attributes{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}
.tags{
    display: inline-block;
    font-size: 1.2rem;
     background-color: #51cf66;
    border-radius: 100px;
    color: #333;
    font-weight: 600;
    padding: 0.4rem  0.8rem;
    text-transform: uppercase;

}
.meal-attribute{
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}
.meal-attribute icon{
    color: #e67e22;
}
.meal-icon{
    color: #e67e22;
    width: 2.4rem;
    height: 2.4rem;
}
.meal-contain{
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.vegan{
    background-color: #94d82d;
}
.paleo{
    background-color: #ffd43b;
}

.list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
.list-item{
    display: flex;
    font-size: 1.8rem;
    align-items: center;
    gap: 1.6rem;
    line-height: 1.2;
}
.list-item .checkmark-icon{
    color: #e67e22;
    font-size: 3.2rem;
}

.recipes{
    text-align: center;
    font-size: 1.8rem;
}
.links-recipes:link,
.links-recipes:visited{
    display: inline-block;
    color:#e67e22 ;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    transition: all 0.3s;
}
.links-recipes:hover,
.links-recipes:active{
    border-bottom: 1px solid  transparent;
}
.margin-bottom{
    margin-bottom: 4.8rem;
}