/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400 

- Line heights
Default: 1 
SMALL: 1.7
LARGE: 1.05

--- 02 COLORS

- Primary: #e67e22
- Tints: #fae5d3
- Shades: #cf711f
- Accents:
- Greys
  #555
  #333

--- 05 SHADOWS

--- 06 BORDER-RADIUS
    8px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
/********************************/
/* GENERAL STYLE */
/********************************/

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "Rubik",sans-serif;
    color: #555;
    line-height: 1;
    font-weight: 400;
}